@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* 
@import "/public/css/style.blue.css"; */
@font-face {
  font-family: "Girassol";
  src: url("/public/fonts/Girassol-Regular.ttf");
}

.navbar {
  .container {
    height: 100%;
    max-width: 1300px;
    a img {
      height: 150px;
    }
  }
}
.megamenu {
  width: 200px;
}

.dropdown-menu {
  top: 5em !important;
}

.nav-link {
  color: #555 !important;
}

.font-alpha {
  font-family: "Girassol", cursive;
}

.border-blue-light {
  border-color: #1fa6e8b8 !important;
}

.dark-color {
  color: #345973 !important;
  text-shadow: 1px 1px 1px #dbd8d8;
}

.img-box {
  width: 100% !important;
  min-height: 150px;
  min-width: 150px;
  background-color: cadetblue;
}

.restaurant-banner {
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-shadow: 0 0 2px grey;
  height: 150px;

  .overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .informations {
    position: absolute;
    font-weight: bold;
    top: 0;
    z-index: 20;
    height: 100%;
    left: 5%;
    width: 90%;
    color: white;
  }
}

.product-image {
  background-color: blueviolet;
}
.product-card {
  font-size: 0.7rem !important;
}

.nav-link-light {
  font-weight: bolder;
  color: #6c757d !important;
  line-height: 1em;
  &:hover {
    color: white !important;
    background-color: #345973 !important;
  }
}

.active-light {
  background-color: #345973 !important;
  color: white !important;
}
